body {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/153/301/non_2x/vector-old-dirty-grunge-note-paper-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-box {
  border-radius: 15px;
  padding: 20px;
  border: 3px solid black;
  background: #e8e754;
}

input {
  background: #c9c9ba;
  padding: 10px;
  outline: none;
  margin-right: 100px;
  width: 400px;
  font-size: 20px;
}

.btn-add {
  background: #afe89e;
  width: 70px;
  height: 40px;
  border: none;
}

.btn-add:active {
  background: #5ef12f;
}

.btn-del{
  background: #afe89e;
  width: 70px;
  height: 40px;
  border: none;
}
.btn-del:active{
  background: #5ef12f;
}

.checkbox{
  width: 20px;
  height: 20px;
}

.task {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-top: 20px;
  background: #eae9a2;
  padding: 15px;
  border: 3px solid black;
}

